<div id="page-top">

<section class="hero" id="intro" du-scroll-container="scroll-container">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-right navicon">
                <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center inner">
                <div class="animatedParent">
                    <h1 class="animated fadeInDown">Welcome</h1>
                    <p class="animated fadeInUp">Here you'll be able to shop anonymously</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <a  href="#login" class="learn-more-btn btn-scroll" >Register or log in</a>
                <a  href="#anonimous/login" class="learn-more-btn btn-scroll" >Register or log in anonymously</a>
            </div>
        </div>
    </div>
</section>
<!-- Section: about -->
</div>